@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Nunito:wght@300&family=Open+Sans:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
:root {
    --font-nunito: "Nunito", sans-serif;
    --font-nunito-sans: "Nunito Sans", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}
 */